
body  {
	margin: 0;
	font-family: Arial, sans-serif, helvetica;
	color: rgb(0, 0, 0);
}


header {
height: 100%;
margin:  0;
position: center;
}

/* option
#hero-image {
  background: url(/pictures/bar3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
  opacity: 70%;
} */


a  {
color:#000;
}

.desktopNav {
display: flex;
background-color: transparent;
justify-content: space-between;
    align-items: center;
    margin: 2% 5% 0 5%;
    overflow: hidden;
}

#location  {
margin-top: 10px;
}

.titlelocation   {
	margin-top: 15px;
}

.mobile  {
	display: none;
}

.mobileNav  {
	display:  none;
}

@media all and (max-width:  600px) {

	.logo {
	position: relative;
	object-fit: scale-up; max-width: 30%

}

.mobileNav  {
	display: block;
	background-color: transparent;
	 align-items: right;
	position: relative;
    align-items: center;
    margin: 2% 5% 0 5%;
}


.desktopNav  {
	display: none;
}

.hamburger {
	position: relative;
  display: inline-block;
  float:right;
    right: 0;
}

.hamburger-content {
  display: none;
  position: relative;
  left:0;
  z-index:1;
}

.hamburger:hover .hamburger-content {
  display: block;
/* animation: popup .5s ease-in-out both; */
}

.hamburger span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(90deg);
}

.hamburger:hover span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: inline-block;
}

}

@media all and (max-width:  400px) {

}


header ul {
	display:  flex;
	list-style: none;

}

header ul li {
margin-right: 1em;
}

.logo {
	width: 10%;
	position: relative;
	margin-top: 5px;

}


.maintitle  {
	text-align: center;
	margin: 0% 10% 20% 5%;
}

.button {
	text-align: center;
	position: center;
    border: 1px solid #000!important;
    margin: 0% 5% 5% 5%;
    padding: .5em;
    text-decoration: none;
}


img   {
	width: 100%;
}

.titlelocation {
	text-align: center;
	margin: 1%;
}

iframe  {
		size: cover;
	 position: center center;
	 width: 100%;
  height: 100vh;
  filter: grayscale(100%);         
}

.FAQ  {
	text-align: center;
	margin: 10% 20%;
}

#grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin: 10% 20%; 

	}

	#grid2 div:first-child {
		grid-column: 1/-1;
		text-align: center;
	}

	#grid2 h3 {
		text-align: center;
	}

	#grid3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	width: cover;
}

#grid3 div:first-child {
		grid-column: 1/-1;
		text-align: center;
		width: cover;
	}


#grid3gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	width: cover;
}

	#grid3gallery div:first-child {
		grid-column: 1/-1;
		text-align: center;
	}

	.bar {
		grid-column: 1/-1;
		text-align: center;
	}

	#grid3gallery div:last-child {
		grid-column: 1/-1;
		text-align: center;
	}

	footer  {
		text-align: center;
		margin: 5%;
		font-family: Arial, sans-serif, helvetica;
	color: rgb(0, 0, 0);
	}

